header {
	h1 {
		@include padding-margin (0, 50px 0 50px 0);
		@include fontSize(26)
		
	}
	h1.entry-title {
		color: $white;
		font-weight: $font-weight--light;
		}
	font-family: $font-family--body;
}


div.header-menu-primary {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	color: $white;
	@include padding-margin (10px, 0);
}

div.nav {
	// background: $blue;
	@include padding-margin (10px, 0);
	display: none;
	text-transform: uppercase;
	a {
		// border-left: 1px dotted $white;
		// padding-left: 10px;
		background: $black;
		padding: 5px 10px;
	}
	img {
		width: 25px;
		height: 25px;
		float: right;
		margin-left: 20px;
		cursor: pointer;
	}
}

div.hamburger {
	padding-top: 10px;
	img {
		width: 40px;
		cursor: pointer;
	}
}


div.logo,
div.nav ul {
	display: inline-block;
	color: $white;

}

div.nav ul {
	list-style: none;
	@include padding-margin (0, 0);
	color: $white;
	li {
		display: inline-block;
		margin-left: 10px;

		a {
			// color: #333;
			// padding: 10px;
			// // background: #333;
			color: $white;
		}
	}
}

div.menu-social-networks-container,
div.header-sub-wrapper {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	color: $white;
	ul.menu {
		list-style: none;
		@include padding-margin (0, 0);
		li {
			display: inline-block;
		}
	}
	p,
	div.breadcrumbs {
		@include padding-margin (0, 0)
		font-size: 12px;
		a {
			background: $black;
			padding: 5px 10px;
		}
	}
}

div.breadcrumbs {
		@include padding-margin (0, 0)
		font-size: 12px;
		a {
			color: $white;
			background: $black;
			padding: 5px 10px;
		}
	}

header {
	@include padding-margin (0 0 10px 0 , 0)
}

div.header-sub-wrapper {
	@include padding-margin (10px, 0)
	max-width: 1080px;
	@include padding-margin (0, 0 auto)
	align-items: center;
	a {
		color: $white;

	}
}

ul.menu-main-menu {
	display: none;
}

