ul.menu {
	margin: 0;
	padding: 0;
	dis
	li {
		display: inline;
		margin-right: 10px;
		a {
			// color: #333;
			// padding: 10px;
			// background: #333;
			// color: white;
		}
		&:first-of-type {
			align-item: flex-start;
		}
	}
}