.sidebar {
	color: $blue;
	width: 30%;
	float: left;
	ul {
		margin: 0;
		padding: 0;
		> a {
			color: $white;
			background: rgba(64, 71, 89, .5);
			margin: 5px 0px;
			padding: 5px;
			@include fontSize(10);
			line-height: 2.3;

		}
		li.widget-container {
			list-style: none;
			@include padding-margin (0, 0 0 40px 0)
			&::before {
				content: '';
				@include padding-margin (0, 0);
			}
			ul {
				list-style: none;
				li {
					&:before {
						content: '';
						@include padding-margin (0, 0);
					}
				}
			}
			h3 {
				text-transform: uppercase;
			}
		}
	}
}