body {
   counter-reset: item;
 }

 a {
	color: $pink;
	text-decoration: none;
	&:hover {
		color: $pink;
	}
}

/* paragraphs */

p {

	line-height: 1.5;
	font-family: $font-family--body
}

main,
aside,
div.right {
	ul,
	ol {
		@include padding-margin (0, 30px);
		position: relative;
	}

	ul li {
		font-family: $font-family--body;
		@include padding-margin (0, 10px 20px 10px 0);
		list-style: none;
		&::before {
	 		content: '✕';
	 		@include padding-margin (5px 5px 5px 5px, 5px);
	 		color: $pink;
	 		position: absolute;
	 		left: -25px;
	 		padding: 2px 5px;
	 		margin: 0;

		}
	}

	ol li  {
		font-family: $font-family--body;
		@include padding-margin (0, 10px 20px 10px 40px);
		// list-style: none;
		counter-increment: item;
		line-height: 1.7;

		&:before {
			margin-right: 10px;
			content: counter(item);
			color: $pink;
			width: 1.2em;
			text-align: center;
			display: inline-block;
			left: -25px;
		}
	}

}

h1,
h2 {
	font-family: $font-family--header;
	margin: 0;
	padding: 0;
	font-weight: $font-weight--bold;
}

div.right,
main {
	h1,
	h2,
	h3,
	h4 {
		font-family: $font-family--body;
		margin: 0;
		padding: 0;
		text-transform: uppercase;
		@include padding-margin (0, 0 0 15px 0)
	}
}


div.right,
main {

	h2 {
		@include fontSize(22);
		font-family: $font-weight--medium;
	}

	h3 {
		@include fontSize(17);

	}

	h4 {
		@include fontSize(13);
		color: $blue;
	}
}

/*blockquotes*/

blockquote {
	border-left: 5px solid $blue;
	background: #F7F7F7;
	@include padding-margin (5px, 40px)
	padding: 20px;
	color: $blue;
	font-style: italic;
	@include fontSize(14);
	font-weight: $font-weight--light;
	p {
		margin: 0;
	}
}

/*tables*/

table {
	td {
		padding: 10px;
	}
	tr td:first {
		padding-right: 0;
	}
}

/*def lists*/

dt {
	font-weight: 600;
	padding-bottom: 5px;
}

dd {
	padding: 10px;
	margin-left: 10px;
}

/*lists*/

ul li, ol li {
	padding: 3px;
}

/*PRE*/

pre {
	background: #F7F7F7;
	padding: 10px;
	border-radius: 4px;
	border: 1px solid #ccc;
}

.entry-title {
	text-align: center;
}

/*
====================================
Global Classes / Wordpress Specific
====================================
*/

.aligncenter {
	text-align: center;
	margin: 0 auto;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

img {
	&.alignleft {
		padding-right: 20px;
		padding-top: 20px;
	}
	&.alignright {
		padding-left: 20px;
		padding-top: 20px
	}
}

.clear {
	width: 100%;
	float: left;
	clear: both;
}